html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes openDoor {
    0% { transform: rotateY(30deg) skewY(-5deg); }
    50% { transform: rotateY(60deg) skewY(-20deg); }
    90% { transform: rotateY(60deg) skewY(-20deg); }
  100% { transform: rotateY(30deg) skewY(-5deg); }
}

/*Entrance Page*/
.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: #8cb3d9;
    position: relative;
    }
.floor {
    width: 100%;
    height: 200px;
    background-color: #2d5986;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.timetable_lock{
    position: absolute;
    top:-75px;
    left: 25px;
}


    
/*1st Door Entrance to Timetables*/

.entrance1 {
    width: 50px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 200px;
    left: calc(25% - 25px);
    z-index: 1;
}
  
.surprize1 {
position: absolute;
bottom: 200px;
left: calc(25% - 15px );
width: 20px;
height: 30px;
z-index: 1;
}

    
.door1 {
    width: 50px;
    height: 80px;
    background-color: #e67e22;
    position: absolute;
    bottom: 200px;
    left: calc(25% - 25px);
    transform-origin: center right;
    transform: rotateY(30deg) skewY(-5deg);
    z-index: 2;

animation: openDoor 2s 0.1s infinite;
}


.handle1 {
    width: 4px;
    height: 4px;
    background-color: #ecf0f1;
    position: absolute;
    top: 35px;
    left: 2px;
    z-index: 3;
}
    



/*2nd Door Entrance to Timetables*/
.entrance2 {
    width: 50px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 200px;
    left: calc(50% - 25px);
    z-index: 1;
}

.door2 {
    width: 50px;
    height: 80px;
    background-color: red;
    position: absolute;
    bottom: 200px;
    left: calc(50% - 25px);
    transform-origin: center right;
    transform: rotateY(30deg) skewY(-5deg);
    z-index: 2;
    
animation: openDoor 3s 0.1s infinite;
    }


.handle2 {
    width: 4px;
    height: 4px;
    background-color: #ecf0f1;
    position: absolute;
    top: 35px;
    left: 2px;
    z-index: 3;
}

.surprize2 {
    position: absolute;
    bottom: 200px;
    left: calc(50% - 15px );
    width: 20px;
    height: 30px;
    z-index: 1;
}

/*3rd Door Entrance to Timetables*/
.entrance3 {
    width: 50px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 200px;
    left: calc(75% - 25px);
    z-index: 1;
}

.door3 {
    width: 50px;
    height: 80px;
    background-color: green;
    position: absolute;
    bottom: 200px;
    left: calc(75% - 25px);
    transform-origin: center right;
    transform: rotateY(30deg) skewY(-5deg);
    z-index: 2;
    
animation: openDoor 2s 0.3s infinite;
    }


.handle3 {
    width: 4px;
    height: 4px;
    background-color: #ecf0f1;
    position: absolute;
    top: 35px;
    left: 2px;
    z-index: 3;
}

.surprize3 {
    position: absolute;
    bottom: 200px;
    left: calc(75% - 15px );
    width: 20px;
    height: 30px;
    z-index: 1;
}


/*Door signs above entrances*/
.doorSigns{
    text-align: center;
    width: 85px;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.sign1{
    position: relative;
    bottom: 100px;
    right: 30px;
}

.sign2{
    position: relative;
    bottom: 100px;
    right: 30px;
}

.sign3{
    position: relative;
    bottom: 100px;
    right: 30px;
}

