body{
  background-color: #2d5986;
  user-select: none; //allows a user to selcet or not sleect the text
}

input {
  position: absolute;
  bottom: 5%;
  width: 90%;
  right: 5%;
  left: 5%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

::placeholder{
  color: black;
}

#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}

#demo{
	  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
	
	
	
	
}


#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.message {
  font-weight: 600;
  line-height: 2;
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}


.lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
.lock .instruction {
  position: absolute;
  color: white;
  text-align: center;
  top: -100px;
  line-height: 1.5;
    font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  width: 400px;
  margin-left: -100px;
}
.lock .ring {
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.lock .ring.checked {
  animation: blink 2s ease-in-out;
}
@keyframes blink {
  0%,
  50%,
  100% {
    border: 5px solid rgba(255, 255, 255, 1);
  }
  25%,
  75% {
    border: 5px solid rgba(255, 255, 255, 0.5);
  }
}
.lock .lockpick {
  position: absolute;
  width: 4px;
  height: 100px;
  background: black;
  left: 50%;
  top: 0px;
  margin-left: -2px;
  background: white;
  transform-origin: bottom;
}
.lock .stage {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.lock .stage li {
  width: 10px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  float: left;
  margin: 0 2px;
  border-radius: 5px;
  transition: all 1s ease;
}
.lock .stage li.active,
.lock .stage li.done {
  background: white;
  margin-top: -10px;
}
.lock .stage li.done {
  margin-top: -20px;
}
.lock > .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  text-align: center;
  box-sizing: border-box;
}
.lock .lockpick .fas {
  position: absolute;
  color: white;
  display: none;
}
.lock .lockpick .fas.fa-caret-right {
  top: 3px;
  right: -8px;
}
.lock .lockpick .fas.fa-caret-left {
  top: 3px;
  left: -8px;
  
}
@keyframes shake-little {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  8% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  10% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  14% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  18% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  22% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  26% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  28% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  32% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  34% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  36% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  38% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  42% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  46% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  48% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  54% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  58% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  64% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  66% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  68% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  72% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  74% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  80% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  82% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }
  84% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  86% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  88% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  92% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  94% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  96% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }
  98% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
.shake-little:hover,
.shake-trigger:hover .shake-little,
.shake-little.shake-freeze,
.shake-little.shake-constant {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


