body{
  background-color: #2d5986;
	color: #555;
	font-size: 16px;
  user-select: none; 
}


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#quote {
  position: relative;
  color:#fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size:25px;
  margin-top:10px;
  text-align:center;
  cursor:auto;
}


div.question {
  position: absolute;
  line-height: 2;
  text-align: center;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}

input {

  bottom: 5%;
  width: 90%;
  right: 5%;
  left: 5%;
  margin-top:3%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  
}

::placeholder{
  color: black;
}

#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 10%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}

#demo{
	  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
	
	
	
	
}



*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* common styles */
.container {
	text-align: center;

}
h4 {
	color: #2d5986;
	font-size: 16px;
	text-transform: uppercase;
	margin: 20px 0;
}

.instructions {
	color: #fff;
	font-family: 'Major Mono Display';
	font-size: 18px;
	text-transform: capitalize;

	  font-weight: bold;

}



.congrates {
color: #fff;
	font-family: 'Major Mono Display';
	font-size: 18px;
	text-transform: capitalize;

	  font-weight: bold;

}
ul {
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin: 0 auto;
	width: 208px;
	
}
ul li {
	background-color: #8cb3d9;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	float: left;
	line-height: 51px;
	width: 50px;
	height: 50px;
	text-align: center;
	
}
ul li span {
	display: none;
}
ul li.clicked.disabled {
	cursor: default;
	filter: alpha(opacity=80);
	opacity: .8;
}
ul li.disabled {
	cursor: default;
	filter: alpha(opacity=80);
	opacity: .8;
}
ul li.disabled span {
	display: inline-block;
}
ul li.clicked span {
	display: inline-block;
}
ul li:hover {
	background-color: #1abc9c;
}