body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
	  background-color: #2d5986;
  user-select: none; //allows a user to selcet or not sleect the text
}
div.question {
  position: absolute;
  line-height: 2;
  text-align: center;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}
#alert {
  position: relative;
  color:#fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size:25px;
  margin-top:10px;
  text-align:center;
  cursor:auto;
  line-height:2;
}
.input {
  position: absolute;
  bottom: 5%;
  width: 90%;
  right: 5%;
  left: 5%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

::placeholder{
  color: black;
}


#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}

#quote {
  position: relative;
  color:#fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size:25px;
  margin-top:10px;
  text-align:center;
  cursor:auto;
}

#directions {
  position: relative;
  color:#fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size:18px;
  margin-top:10px;
  text-align:center;
  cursor:auto;
}
input {
  position: absolute;
  bottom: 5%;
  width: 90%;
  right: 5%;
  left: 5%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5.5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
  top: 82%	
	
}


#grid {
  margin:  auto 0;
  margin-top: 50px;
  display: block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}
.grid-parrent {
  display:inline-block;
  
}


span {
  border: 2px solid #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: -2px;
  display: inline-block;
  margin: -1px;
  margin-bottom: -6px;
  padding: 0;
  font-size: 40px;
}

span[value=B] {
  background: 
       
       linear-gradient(to top right,
           rgba(255,255,255,0) 0%,
           rgba(255,255,255,0) calc(50% - 2px),
           rgba(255,255,255,1) 50%,
           rgba(255,255,255,0) calc(50% + 2px),
           rgba(255,255,255,0) 100%);
}
span[value=A] {
  background: 
       linear-gradient(to top left,
           rgba(255,255,255,0) 0%,
           rgba(255,255,255,0) calc(50% - 2px),
           rgba(255,255,255,1) 50%,
           rgba(255,255,255,0) calc(50% + 2px),
           rgba(255,255,255,0) 100%);
}
span.er[value=B] {
  background:
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 2px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 2px),
           rgba(0,0,0,0) 100%);
}
span.er[value=A] {
  background:
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 2px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 2px),
           rgba(0,0,0,0) 100%);
}

hr {
  margin: 0;
  border: 0;
  padding: 0;
}
p {
  margin: 0 auto;
  margin-top: 100px;
  font-size: 60px;
}
h1, h3 {
  text-align: center;
}
#count {
  margin-top: 25px;
  font-size: 30px;
}