body{
  background-color: #2d5986;
  user-select: none; //allows a user to selcet or not sleect the text
}

div.question {
  position: absolute;
  line-height: 2;
  text-align: center;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}

input {
  position: absolute;
  bottom: 5%;
  width: 90%;
  right: 5%;
  left: 5%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

::placeholder{
  color: black;
}

#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 15%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}


.pic {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 15%;
    right: 15%;
    height: 60%;
    width: 70%;
}
