body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2d5986;
	width: auto;
	height: auto;
}

/* Position of all SVG items*/

.bed{
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
}

.clock{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 20%;
    right: 20%;
}

.calendar{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 30%;
}

.person{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 10%;
}

.fillhover:hover{
    fill: red;
}






#results{
  position: absolute;
  line-height: 2;
  text-align: center;
  bottom: 40%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}

.message {
  font-weight: 600;
  line-height: 2;
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  z-index: 5;
  font-size: 20px;
}

.lock{
    width: 80%;
    max-height: 50px;
    color: white;
    font-family: 'Major Mono Display', monospace;

}

/* Pop up to show the the winner vidoe when completed all taskts*/
.completedOverlay{
    display: none;
    width: 75vw;
    height:50vw;
    position: fixed;
    border:1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.closeBtn{
    position:absolute;
    left: 95%;
    top: 5px;
    transition: .5s ease;
    width: 50px;
    height: 40px;
}
